<section class="container">
    <h2>Wedding Details</h2>
    <dl>
        <dt>Ceremony and Reception Location</dt>
        <dd>Mad Art Gallery</dd>
        <dt>Attire</dt>
        <dd>Semiformal</dt>
    </dl>

    <p>
        The ceremony will be in the courtyard of the gallery, and following by dinner, drinks, desserts, and, of course, dancing. If you have any specific food allergies please let us know.
    </p>
    <p>There will be a parking lot directly across the street for our guests' use.</p>
</section>
