<section class="container">
    <h2>Registry</h2>

    <p>We are registered at <a href="https://www.crateandbarrel.com/gift-registry/kelsie-howle-and-john-foley/r5512537">Create and Barrel</a> and <a href="https://www.amazon.com/wedding/kelsie-howle-john-foley-st-louis-june-2017/registry/277504R72SYAG">Amazon</a></p>
</section>
